# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock

# testing
/coverage

# next.js
/.next/
.next/
/out/
next/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swc

# cache
.cache/
.eslintcache

# logs
logs
*.log