# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
.next/
/out/
next/

# production
/build
/dist

# debug
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# cache
.cache/
.eslintcache